{% extends ':Base:base_with_right_sidebar.html.twig' %}
{% set title = 'Контакти' %}
{% block content %}
    <div class="container">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="text-center contact-header">
                    <h3>Ініціативна група проекту “Online платформа благодійності”</h3>
                </div>
                <div class="panel-body-contact text-center">
                    <a href="mailto:denis.beliakov14@gmail.com">Denis Beliakov</a><br>
                    <a href="mailto:dmitryzrayev@gmail.com">Dmitry Zrayev</a><br>
                    <a href="mailto:volodymyr.a.kravchuk@gmail.com">Volodymyr Kravchuk</a><br>
                    <p> тел.: +38 097 561 24 90 </p>
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.0892180772976!2d32.09249451521069!3d49.42612726851802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14ba5f16da949%3A0x752d2a59322437eb!2z0LLRg9C7LiDQk9C-0YDRjNC60L7Qs9C-LCA2MCwg0KfQtdGA0LrQsNGB0LgsINCn0LXRgNC60LDRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgMTgwMDA!5e0!3m2!1suk!2sua!4v1459957790969" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

