{% extends ':Base:base_with_right_sidebar.html.twig' %}
{% set title = 'Запит' %}
{% block content %}
    <div class="blog-item">
        {% include ':Charity:charity_content.html.twig' %}
    </div>
{% endblock %}