{% extends ':Base:base.html.twig' %}
{% block page_body %}
    <section id="blog" class="container">
        <div class="row">
            {% block body %}
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="blog">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </section>
{% endblock %}