{% extends ':Base:base.html.twig' %}
{#{% block sub_menu%}#}
{#{% endblock %}#}
{% block page_body %}
    <section id="blog" class="container cabinet">
        <div class="row">
            {% block sidebar %}
                <aside class="col-sm-2 cabinet-menu">
                    {%  include ':Sidebar:left_sidebar.html.twig' %}
                </aside>
            {% endblock %}
            {% block body %}
                <div class="col-sm-10 cabinet-content">
                    <div class="blog">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </section>
{% endblock %}