{% extends ':Base:base_with_left_sidebar.html.twig' %}
{% form_theme editForm 'bootstrap_3_layout.html.twig' %}

{% block content %}

    {{ form_start(editForm) }}
    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Редагування запиту</h4></div>
        <div class="panel-body">
            {{ form_widget(editForm) }}
        </div>
        <div class="panel-footer">
            <a href="{{ path("charity_manager_index") }}" class=" btn btn-info btn-form">Назад</a>
            <input type="submit" value="Зберегти" class="btn btn-success btn-form pull-right" />
        </div>
    </div>
    {{ form_end(editForm) }}
{% endblock %}