{% extends ':Base:base_charity_editor.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
 <h2>Видалити запит:</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="" class=" btn btn-info btn-form">Back</a>
        <input type="submit" value="Видалити" class="btn btn-success btn-form pull-right" />
    {{ form_end(form) }}
{% endblock %}