{% extends ':Base:base_with_left_sidebar.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
 <h2>Видалити запит:</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block additional_javascripts %}
    {#<script src="{{ asset('js/tinymce.min.js') }}"></script>#}
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        tinymce.init({
        selector: 'textarea'
        });
    </script>
{% endblock %}