{% extends ':Base:base_with_left_sidebar.html.twig' %}

{% block content %}
    {% if pager is defined %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Перелік створених вами запитів на благодійність</h4></div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tbody>
                        {% for charity in pager.currentPageResults %}
                            <tr>
                                <td><a href="{{ path('charity_show', {'slug': charity.slug}) }}">{{ charity.title }}</a></td>
                                    <td class="col-sm-1">
                                        <span class=" pull-right"><a href="{{ path('charity_edit', {'slug': charity.slug}) }}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;<a href="#"><i class="fa fa-trash"></i></a></span>
                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-right">
                {% include ':Pagination:cabinet_paginator.html.twig' %}
            </div>
        </div>
    {% else %}
        <div class="blog-post">
            <h4>Unfortunately nothing found</h4>
        </div>
    {% endif %}
{% endblock %}