{% extends ':Base:base_with_left_sidebar.html.twig' %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Інформація про запит</h4></div>
        <div class="panel-body">
            <div class="blog-item col-sm-push-1 col-sm-10">
                {% include ':Charity:charity_content.html.twig' %}
            </div>
        </div>
        <div class="panel-footer">
            <a href="{{ app.request.server.get('HTTP_REFERER')|default(path('index_page')) }}" class="btn btn-info btn-form">Назад</a>
            <div class="btn-group btn-group-form pull-right" role="group">
                <a href="{{ path('charity_edit', {'slug': charity.slug}) }}" class="btn btn-warning btn-form">Редагувати</a>
                <a href="{{ path('charity_delete', {'slug': charity.slug}) }}" class="btn btn-danger btn-form">Видалити</a>
            </div>
        </div>
    </div>
{% endblock %}