<div class="widget cabinet-menu">
    <h4>Доступні функції</h4>
    <div class="panel-group" id="accordion">
        <div class="panel cabinet-menu-panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Профіль
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h5><a href="">Перегляд</a></h5>
                    <h5><a href="">Редагування</a></h5>
                    <h5><a href="">Зміна паролю</a></h5>
                </div>
            </div>
        </div>
        <div class="panel cabinet-menu-panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Запити на благодійність
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5><a href="{{ path('charity_new') }}">Створити запит</a></h5>
                    <h5><a href="">Перегляд запитів</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>