<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2016 <a target="_blank" href="http://geekhub.ck.ua/" title="Online платформа благодійності">Online платформа благодійності</a>
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="{{ path('index_page') }}">Головна</a></li>
                    <li><a href="{{ path('contact_page') }}">Контакти</a></li>
                    <li><a id="gototop" class="gototop" href=""><i class="fa fa-chevron-up"></i></a></li><!--#gototop-->
                </ul>
            </div>
        </div>
    </div>
</footer>