<section id="bottom" class="wet-asphalt bot">
    <div class="container">
        <div class="col-md-offset-2 col-xs-offset-3 col-md-4 col-xs-7">
            <h4>Як з нами зв'язатися</h4>
            <b>Адреса:</b> 18006, вул. Орджонікідзе, Черкаси, Україна<br/>
            <b>Телефон:</b> +38 097 561-24-90<br/>
            <b>Email:</b> <a href="mailto:volodymyr.a.kravchuk@gmail.com">volodymyr.a.kravchuk@gmail.com</a>

            <h4>Підписатися на розсилку</h4>
            <form role="form">
                <div class="input-group">
                    <input type="text" class="form-control" autocomplete="off" placeholder="Ваш email">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">Go!</button>
                                </span>
                </div>
            </form>
        </div>
        <div class="col-md-offset-1 col-xs-offset-3 col-md-4 col-xs-7">
            <h4>Залишайтеся на зв'язку</h4>
            <ul class="footer-stay-connected no-list-style">
                <li><a href="#" class="twitter"></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100009030504250" class="facebook"></a></li>
                <li><a href="https://plus.google.com/u/0/103178508336520769822" class="googleplus"></a></li>
            </ul>
        </div>
    </div>
</section>