{% extends ':Base:base_with_left_sidebar.html.twig' %}

{% set title = 'Перелік категорій' %}

{% block content %}
    {% if pager is not null %}
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Перелік категорій</h4></div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tbody>
                        {% for category in pager.currentPageResults %}
                            <tr>
                                <td><a href="{{ path('charity_index_filtered', {'page': 1, 'filter': 'category', 'slug': category.slug, 'sortmode': 'd'}) }}">{{ category.title }}</a></td>
                                <td class="col-sm-1">
                                    <span class=" pull-right">
                                        <a href="{{ path('category_edit', {'slug': category.slug}) }}"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                        <a href="{{ path('category_delete', {'slug': category.slug}) }}"><i class="fa fa-trash"></i></a>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-right">
                {% include ':Pagination:cabinet_paginator.html.twig' %}
            </div>
        </div>
    {% else %}
        <div class="blog-post">
            <h4>Unfortunately nothing found</h4>
        </div>
    {% endif %}
{% endblock %}