{% extends ':Base:base_wo_sidebar_centered.html.twig' %}

{% block content %}
    {% embed ':Panel:back_panel.html.twig'%}
        {% block panel_title %}Активація була виконана успішно{% endblock %}
        {% block panel_body %}
            <p>Використайте форму логіну в меню для авторизації.</p>
            <p>Або скористайтеся <a href="{{ path('login') }}">логіном</a>.</p>
        {% endblock %}
        {% block back_button %}На головну{% endblock %}
    {% endembed %}
{% endblock %}