{% extends ':Base:base_wo_sidebar_centered.html.twig' %}

{% set title = 'Відновлення паролю' %}

{% block content %}
    {% embed ':Panel:back_panel.html.twig'%}
        {% block panel_title %}Відновлення паролю успішне{% endblock %}
        {% block panel_body %}
            <p>На вказану при реєстрації адресу e-mail було відправлено лист, в якому вказано інформацію, неохідну для завершення відновлення паролю.</p>
            <p>Будь-ласка перевірте свою поштову скриньку.</p>
        {% endblock %}
        {% block back_button %}На головну{% endblock %}
    {% endembed %}
{% endblock %}